<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>影片搜尋器</title>
  </head>
  <body bgcolor="#FFCBB3">
    <form method="post">
      <select name="YouTuber">
        <option value='{"id":"UCxUzQ3wu0oJP_8YLWt71WgQ", "name":"HowFun"}'>HowFun</option>
        <option value='{"id":"UCjhwHd3mgmqm0ONm0bXKmng", "name":"安啾"}'>安啾</option>
        <option value='{"id":"UCL--AnIMxQQdbcH4ESEK0Iw", "name":"阿滴日常"}'>阿滴日常</option>
        <option value='{"id":"UCaaZYXjaVXrxegTZHCAxDmQ", "name":"Dcard"}'>Dcard</option>
        <option value='{"id":"UCgDQKFV2rMNzTE8Y3rHMVbQ", "name":"黃大謙"}'>黃大謙</option>
        <option value='{"id":"UCeo3JwE3HezUWFdVcehQk9Q", "name":"阿滴英文"}'>阿滴英文</option>
        <option value='{"id":"UCiWXd0nmBjlKROwzMyPV-Nw", "name":"志祺七七"}'>志祺七七</option>
        <option value='{"id":"UCGpNjY0Xq2GJLXh4OOX1LOA", "name":"滴妹"}'>滴妹</option>
        <option value='{"id":"UC8-QNXp5xAmd4v7_KJW-Hig", "name":"放火"}'>放火</option>
      </select>
    <br>
    <input type="submit" value="查詢">
  </body>
</html>